@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: rgb(231, 231, 231);
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: gray;

}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burger{
    display: block;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    border-radius: 50%;
    color: white;
    text-align: center;

}

span#burger:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

menu{
    display: none;
}

menu > ul{
    display: flex;
    width: 100vw;
    margin-top: 15px;
    gap: 1vw;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;
    color: white;

}

menu a:hover{
    background-color: rgb(187, 187, 187);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h1{
    padding-bottom: 20px;

}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        width: 70vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main{
        width: 60vw;
    }
}

@media screen and (min-width: 1200px){
    main{
        width: 60vw;
    }
}